* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100%;
}

.wrapper {
  background-image: url(./images/7.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: moveBackground 100s linear infinite;
}

.app-screen-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
  overflow: hidden;
  max-width: 700px;
  border-radius: 10px;
  padding: 30px;
  margin: 60px auto;
  color: black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
}

.liquidglass-effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(3px);
  filter: url(#glass-distortion);
  overflow: hidden;
  isolation: isolate;
}

.liquidglass-tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.liquidglass-shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 0 rgba(255, 255, 255, 0.5);
}

.liquidglass-text {
  z-index: 3;
  overflow: scroll;
}

.weather-app {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

header {
  border-bottom: 1px solid #f9f7fe3e;
  padding-bottom: 30px;
}

header .logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}

.search-input {
  background-color: #dff5f9;
  border: none;
  font-size: 16px;
  padding: 20px;
  border-radius: 6px;
  width: 81%;
}

.search-button {
  background-color: #484eb7;
  border: none;
  border-radius: 6px;
  padding: 20px;
  font-size: 16px;
  color: #dff5f9;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: #edfcff;
}

.current-details {
  color: #dff5f9da;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #edfcff;
}

.current-temperature {
  font-size: 48px;
  color: #edfcff;
}

.ct-icon {
  position: relative;
  top: 18px;
  font-size: 40px;
  margin-right: 10px;
}

.ct-value {
  font-size: 80px;
  font-weight: bold;
}

.ct-deg {
  font-size: 28px;
  position: relative;
  top: -38px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-day {
  box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.4),
    inset -1px -1px 1px 0 rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 6px;
  backdrop-filter: blur(43px);
}

.forecast-date {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #dff5f9da;
  margin-bottom: 10px;
}

.forecast-icon {
  display: block;
  margin: o auto;
  text-align: center;
  width: 80px;
  height: 80px;
}

.forecast-temps {
  text-align: center;
  color: #dff5f9da;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.temps-set {
  padding: 0 6px;
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  color: #dff5f98f;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  padding: 0 30px;
}

footer a {
  color: #dff5f9;
  font-weight: bold;
  text-decoration: none;
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -500%;
  }
}

@media all and (max-width: 648px) {
  .app-screen-wrapper {
    margin: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .forecast {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  .place {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .forecast-day:first-child {
    width: 100%;
  }

  .forecast-day {
    width: 49%;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
  }

  .ct-value {
    font-size: 69px;
  }

  .current-weather {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
